# Build
bin/
obj/

.vscode/

# Logs
*.log

# Sensitive config
appsettings.Development.json
appsettings.json

# Dependency cache
packages/
project.lock.json
project.fragment.lock.json

# Migrations
Migrations/
